nav ul{
  display: flex;
  list-style: none;
}
nav ul li a{
  padding: 10px 15px;
  color: crimson;
  text-decoration: none;
  border-radius: 15px 15px 0 0;
}
nav ul li a:hover{
  background-color: cornflowerblue;
  color: darkmagenta;
}